panda-gym
stable-baselines3[extra]
gymnasium
rl-zoo3
matplotlib
pandas
tensorboard
sb3-contrib
sbx-rl  # Optional: Only needed for trainSBX.py (Jax-based, faster but limited logging)
tfp-nightly          
